@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infoandForm {
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
}

.slogan{
  background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.forumDiv{
  position: relative;
}

.forumSubmitButton{
  width: 50%;
}

#name{
  float: left;
  width: 50%;
}


#phone{
  float: right;
  width: 49%;
}

#requirment{
  text-overflow: inherit;
  height: 100px;
}

.ttTechnicalExpert{
  background-image: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

