@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* .accordianElement{
  padding-right: 20px;
} */

.infoandForm {
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
}

.slogan{
  background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.firstDiv,.secondDiv,.thirdDiv,.fourthDiv{
  width: 25%;
  float: left;
  border: 1px solid black;
  text-align: center;
  background-image: linear-gradient(to left, violet, indigo, lightblue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.forumDiv{
  position: relative;
}

.forumSubmitButton{
  width: 60%;
  height: 20%;
}

.MDBAccordionItem{
  width: 50%;
}

#name{
  float: left;
  width: 50%;
}

.ourPackagesText p{
  text-align: center;
}

.ourPackagesText h1,h4{
  text-align: center;
  background-image: linear-gradient(to right, green, indigo, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.packageTableData{
  width: 85%;
  /* border: 1px solid black; */
  padding: 15px;
  position: absolute;
  left: 0; right: 0;
  overflow: hidden;
  background: #fff; 
  margin:0 auto;
}

.packageMainDiv{
  position: relative;
}

#phone{
  float: right;
  width: 49%;
}

#requirment{
  text-overflow: inherit;
  height: 100px;
}

.ttTechnicalExpert{
  background-image: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

